.wrap {
  display: inline-flex;
  align-items: center;
  gap: var(--ds-spacing-8);
}

.confirm {
  display: inline-flex;
  align-items: center;
  gap: var(--ds-spacing-8);
  flex-wrap: wrap;
}

.confirmText {
  font-size: var(--ds-typography-font-size-12);
  color: var(--ds-color-text-02);
}

.error {
  font-size: var(--ds-typography-font-size-11);
  color: var(--ds-color-state-error-accent);
}
